@model PointsSummaryViewModel
@{
    ViewData["Title"] = "- summary";
}

<div class="row">
    <div class="col-xs-12">

        <div class="panel panel-default">
            <div class="panel-heading text-center"><strong style="text-transform:uppercase; font-size:18px;">Summary points for Express Entry</strong></div>
            <div class="panel-body">
                <ol id="summary">
                    <li>
                        <strong>Points earned by you in section A. Core / human capital factors: @Model.PointsInSectionA</strong>
                        <div class="bs-callout bs-callout-default">
                            <ul>
                                <li>Points for age: <strong>@Model.PointsForAge</strong></li>
                                <li>Points for education: <strong>@Model.PointsForEducation</strong></li>
                                <li>Points for 1st language: <strong>@Model.PointsForFirstLanguage</strong></li>
                                <li>Points for second language: <strong>@Model.PointsForSecondLanguage</strong></li>
                                <li>Points for experience in the Canadian labour market: <strong>@Model.PointsForCanadianExperience</strong> </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <strong>Points earned by spouse or common-law partner in section B. Spouse or common-law partner factors: @Model.PointsInSectionB</strong>
                        <div class="bs-callout bs-callout-default">
                            <ul>
                                <li>Points for education of spouse or common-law partner: <strong>@Model.PointsForSpouseEducation</strong></li>
                                <li>Points for language of spouse or common-law partner: <strong>@Model.PointsForSpouseLanguageExam</strong></li>
                                <li>Points for experience of spouse or common-law partner: <strong>@Model.PointsForSpouseCanadianExperience</strong></li>
                            </ul>
                        </div>
                    </li>
                    <li> <strong>Points earned by you in section C. Skill transferability factors: @Model.PointsInSectionC</strong></li>
                    <li> <strong>Points earned by you in section D. Additional points: @Model.PointsInSectionD</strong></li>
                </ol>
            </div>
            <div class="panel-footer text-center">
                <span style="text-transform:uppercase">Points earned for Express Entry:</span> <strong style="font-size:24pt">@Model.TotalPointsForExpressEntry</strong>
            </div>
        </div>

    </div>

</div>

@if (Model.TotalPointsForExpressEntry < Model.LastExpressEntryStats.LowestScore)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-warning" role="alert">
                Your overall score (@Model.TotalPointsForExpressEntry) is lower than the lowest score (@Model.LastExpressEntryStats.LowestScore) from last round of invitations.
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-success" role="alert">
                <strong>Congratulations!</strong> Your overall score (@Model.TotalPointsForExpressEntry) is higher or equal to the lowest score (@Model.LastExpressEntryStats.LowestScore) from last round of invitations. 
                You have big chances to be invited to apply for permanent residence in Canada in the next round of invitations. Create your <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application/account.html" target="_blank">Express Entry profile</a> right away. 
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-xs-12">
        @await Html.PartialAsync("ExpressEntryStats")
    </div>
</div>




